/*universal style*/
*{
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 100%, 93%);
   
}

body{
    
    background-color:hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    min-height: 100vh;
    background-image: url('../images/bg-desktop.png');
    background-position:200% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}


h1{
    letter-spacing: .5px;
    font-size: 14px;
}

.gray{
    color: hsl(229, 7%, 55%);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 5%;   
}

/*main style*/
main{
 width: 75%;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 padding-bottom: 1.5rem;
 

}

/*left side style*/
.left{
    width: 35%;
    margin-right: 5%;
    background-color: hsl(228, 56%, 26%);
    border-top-right-radius: 85px  !important;
    border-radius: 10px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.logo{
    margin-bottom: 5%;
    height: 30%;
    width: 100%;
    padding-left: 2rem;
}

.logo img{
    margin: 0;
    padding: 0;
}


.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
    width: 100%;
    padding-left: 2rem;
}

.icons figure{
    background-color:hsl(229, 57%, 11%) ;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.5%;
    border-radius: 5px;
}

.icons figure:first-child{
    margin-left: 0;
}


/*right style*/
.right{
    width: 58%;
    background-color: hsl(228, 56%, 26%);
    height: 150px;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    position: relative;
}

.storge{
    width: 100%;
    height: 15px;
    background-color:hsl(229, 57%, 11%) ;
    border-radius: 20px;
    margin-bottom: 2.2%;
    display: flex;
    align-items: center;
    padding-left: 2px;
    
}

.pink{
    
    width: 85%;
    height: 11px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    border-radius: 20px;
    content: ' ';
}

.stroge-value{
    display: flex;
}

span{
    font-weight: 700;
}

.extra{
    position: absolute;
    top: -42.5%;
    left: 50%;
    width:45%;
    height: 55%;
    background-color: white;
    border-radius: 13px;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-bottom-right-radius:0 ;
}

.extra::after{
    content: ' ';
    position: absolute;
    top: 70%;
    right: 0%;
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 0px solid transparent;
	border-top: 50px solid rgb(255, 255, 255);
    border-bottom-right-radius:5px ; 
    
}


@media screen and (max-width:900px) {
    main{
        width: 95%;
    }
    
  
}

@media screen and (max-width:600px) {
    body{
    background-image: url('../images/bg-mobile.png');
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;

    }
    main{
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;
    }

    .left{
        width: 95%;
        height: 195px;
        margin-bottom: 10%;
        margin-right: 0;
        
    }

    .right{
        width: 95%;
        height: 170px;
        padding: 2rem;
    }
    h1{
        text-align: center;
    }

    .extra{ 
        top: 70%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width:60%;
        height: 50%;
        border-bottom-right-radius:13px ;
    }
    
    .extra::after{
        display: none;
    }
    
}
